<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Registration page </title>
</head>

<body>

    <form method="post" action="login">
        <div class="login-box">
        <h1>REGISTRATION</h1>
        <div class="user-box">
            <label for="name" class="form-label">Enter the name</label>
            <input type="text" class="form-control" id="name " name="name" placeholder=" NAME">
        </div>

        <div class="user-box">
            <label for="exampleInputEmail1" class="form-label"> Email address</label>
            <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder=" EMAIL">
        </div>

        <div class="user-box">
            <label for="phone" class="form-label"> Enter the phone number</label>
            <input type="text" class="form-control" name="phone" id="phone" placeholder=" PHONE NUMEBER">
        </div class="button-form">
        <button  type="submit" herf="#" id="submit">Submit</button>
    </div>
    </form>

</body>

</html>
