body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #2ee4d2, #fbf9f8);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


img {
    height: 240px;
    border-radius: 10px;
    margin: 10px;

}